{
  "extends": ["airbnb-base", "airbnb-typescript/base"],
  "ignorePatterns": ["jest.config.js", "babel.config.cjs", "*.test.js"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": ["jest"],
  "rules": {
    "linebreak-style": "off",
    "implicit-arrow-linebreak": "off"
  }
}
