{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["*.js"]
    }
  ],
  "plugins": ["jest"]
}
