{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true,
      "esModuleInterop": true
    },
    "target": "es2018"
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "noInterop": false
  }
}
