name: CD
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macOS-latest ]
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - uses: actions/checkout@v4
      - name: build
        run: |
          npm ci
          npm run build
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macOS-latest ]
    needs: build
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - uses: actions/checkout@v4
      - name: build
        run: |
          npm ci
          npm run build
      - name: test
        run: npm test
      - name: coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  deploy:
    runs-on: ubuntu-latest
    needs: [ build, test ]
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - uses: actions/checkout@v4
      - name: build
        run: |
          npm ci
          npm run build
      - name: deploy
        uses: codfish/semantic-release-action@v2
        with:
          branch: main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
